/* Main header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to right, #C3F781, #4AFFE9);
  padding: 15px 30px;
  box-sizing: border-box;
  z-index: 1000;
  display: flex;
  align-items: center;
}

header h2 {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 22px;
  font-weight: bold;
  color: #000;
  gap: 10px;
}

header img {
  width: 26px;
  height: 26px;
  object-fit: contain;
  vertical-align: middle;
}

/* Header becomes responsive */
@media (max-width: 576px) {
  header h2 {
    font-size: 18px;
    text-align: left;
  }
  header img {
    width: 18px;
    height: auto;
    object-fit: contain;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #E7FEB9 0%, #E7FEB9 30%, #34b9a9 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Container for Centering the Card */
.center-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Login Card Styles */
.login-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  height: auto;
}

/* Header and Icon Styling */
.header-area {
  margin-bottom: 20px;
  text-wrap: nowrap;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.icon-placeholder {
  font-size: 40px;
  margin-bottom: 0px;
}

.login-card h2 {
  font-size: 18px;
  text-align: center;
  color: #333;
  font-weight: 800;
  align-items: center;
}

/* Input Styling */
.login-card input {
  background: rgb(233, 233, 233);
  width: 70%;
  padding: 10px;
  border: 1px #ccc solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.login-card p {
  display: block;
  text-align: left;
  margin-bottom: 10px;
  margin-left: 50px;
  color: #5B5B5B;
  font-weight: 550;
  font-size: 12px;
}

/* Password Container with Eye Icon */
.password-container {
  position: relative;
  width: 70%;
  margin: 0 auto;
}

.password-container input {
  width: 100%;
  padding: 10px;
  padding-right: 40px; /* Make space for the icon */
  background: rgb(233, 233, 233);
  border: 1px #ccc solid;
  border-radius: 4px;
  box-sizing: border-box;
}

.eye-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #5B5B5B;
  font-size: 16px;
}

.eye-icon:hover {
  color: #333;
}

/* Link and Button */
.forgot-link {
  display: block;
  text-align: right;
  margin-right: 45px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 550;
  color: #5B5B5B;
  text-decoration: none;
  margin-bottom: 5px;
}

.forgot-link:hover {
  font-size: 13px;
  color: #3e3d3d;
}

.login-button {
  width: 70%;
  padding: 10px;
  background-color: #1e5a8f;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 16px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #193b5a;
}